@media screen and (max-width: 1460px) {
    .header {
        margin-right: 20px;
        margin-left: 20px
    }
    .logo-torsion__image {
        margin-right: 50px
    }
    .navigation__list {
        width: 380px
    }
    .location {
        margin-right: 40px
    }
    .presentation {
        padding-bottom: 78px
    }
    .presentation-wrapper {
        margin-right: 20px;
        margin-left: 20px
    }
    .presentation-wrapper__left {
        max-width: 600px
    }
    .numbers {
        margin-right: 20px;
        margin-left: 20px
    }
    .advantages {
        margin-right: 20px;
        margin-left: 20px
    }
    .procedure {
        margin-right: 20px;
        margin-left: 20px
    }
    .procedure__section-wrapper {
        background: 0
    }
    .procedure__step {
        width: 100%
    }
    .quality__title,
    .quality__description {
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 1180px) {
    .ten-millions {
        margin-left: 15px
    }
    .numbers__paragraph-bottom {
        margin-right: 15px;
        margin-left: 15px
    }
}
@media screen and (max-width: 1000px) {
    .header {
        margin-top: 11px;
        margin-bottom: 18px
    }
    .logo-torsion {
        order: 2
    }
    .logo-torsion__image {
        width: 43px;
        height: 52px;
        margin-right: 0
    }
    .toggle-menu {
        display: block;
        order: 1;
        z-index: 1
    }
    .js-menu-close {
        position: relative;
        color: transparent
    }
    .js-menu-close::before {
        position: absolute;
        top: 12px;
        left: 5px;
        content: "";
        width: 20px;
        height: 1px;
        background-color: #fff;
        transform: rotate(45deg)
    }
    .js-menu-close::after {
        position: absolute;
        top: 12px;
        left: 5px;
        content: "";
        width: 20px;
        height: 1px;
        background-color: #fff;
        transform: rotate(135deg)
    }
    .navigation-mobile {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 260px;
        height: 100vh;
        min-height: 687px;
        background: #323232
    }
    .js-navigation-able {
        display: block
    }
    .navigation__list {
        display: block
    }
    .navigation__item {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 33px;
        margin-left: 23px
    }
    .navigation__item:first-child {
        padding-top: 94px
    }
    .navigation__link {
        color: #fff;
        text-decoration: none
    }
    .location {
        margin-right: auto;
        margin-left: 23px;
        margin-bottom: 48px;
        padding-top: 20px;
        line-height: 19px;
        border-bottom-color: #fff
    }
    .location__link {
        color: #fff
    }
    .phone {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        padding-left: 48px;
        color: #fff
    }
    .phone::before {
        position: absolute;
        top: 6px;
        left: 23px;
        background-image: url('img/phone-white.png');
        width: 13px;
        height: 13px;
        color: #fff
    }
    .connection-button--header {
        width: 179px;
        margin-left: 23px;
        font-size: 12px;
        line-height: 14px;
        border-radius: 20px
    }
    .call {
        display: block;
        order: 3
    }
    .presentation {
        background-size: 100%;
        background-position: center top
    }
    .presentation-wrapper {
        flex-direction: column-reverse
    }
    .presentation-wrapper__left {
        max-width: 100%;
        padding-top: 40%
    }
    .presentation-wrapper__right {
        height: 20%
    }
    .logo-torque {
        max-width: 164px;
        width: 20%;
        height: auto;
        margin-right: 8px
    }
    .logo-rktor {
        max-width: 188px;
        width: 20%;
        height: auto
    }
    .main-title {
        font-size: 46px;
        line-height: 56px;
        margin-top: 50px;
        width: 550px
    }
    .description {
        font-size: 30px;
        line-height: 40px
    }
    .numbers {
        margin-bottom: 36px
    }
    .numbers__list {
        flex-wrap: wrap;
        justify-content: flex-start;
        background: 0;
        box-shadow: none;
        border-radius: none
    }
    .numbers__item {
        width: 33%
    }
    .ten-millions {
        margin-left: 0
    }
    .numbers__paragraph-top {
        text-align: left;
        margin-top: 0
    }
    .numbers__paragraph-middle {
        text-align: left
    }
    .numbers__paragraph-bottom {
        text-align: left;
        margin-bottom: 60px;
        margin-left: 0
    }
    .title {
        font-size: 32px;
        line-height: 40px
    }
    .advantages {
        margin-bottom: 124px
    }
    .advantages__item {
        width: 50%
    }
    .section__description {
        font-size: 22px;
        line-height: 30px
    }
    .procedure__description {
        margin-bottom: 50px
    }
    .procedure__main {
        flex-direction: column-reverse
    }
    .procedure__picture-wrapper {
        margin-right: auto;
        width: 100%;
        max-width: 500px
    }
    .procedure__picture {
        width: 100%
    }
    .procedure__order {
        margin-left: 0
    }
    .step__title {
        font-size: 20px
    }
    .aquaint__title {
        font-size: 26px;
        line-height: 36px;
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
    }
    .catalogue {
        margin-right: 20px;
        margin-left: 20px;
    }
    .button__next {
        margin-right: 18px;
    }
    .button__previous {
        margin-left: 18px;
    }
}
@media screen and (max-width: 800px) {
    .numbers__item {
        width: 50%
    }
    .numbers__paragraph-top {
        font-size: 12px;
        line-height: 17px
    }
    .numbers__paragraph-middle {
        font-size: 20px;
        line-height: 28px
    }
    .numbers__paragraph-bottom {
        margin-bottom: 46px;
        margin-right: 20px;
        font-size: 12px;
        line-height: 17px
    }
    .test__progress {
        width: 500px;
    }
    .first-question-wrapper {
        width: 351px;
        margin-bottom: 34px;
    }
    .car-brand__button:nth-child(8n) {
        margin-right: 0;
    }
    .car-brand__button:nth-child(n + 34) {
        margin-bottom: 5px;
    }
    .car-brand__button:nth-child(n + 40) {
        margin-bottom: 0;
    }
    .test__question {
        margin-right: 20px;
        margin-left: 20px;
    }
    .test__buttons {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 12px;
    }
    .button__next {
        margin-right: 0;
    }
    .parts__list {
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    .presentation {
        padding-bottom: 50px
    }
    .main-title {
        font-size: 24px;
        line-height: 32px;
        width: 100%;
        margin-bottom: 22px;
        margin-top: 40px
    }
    .description {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 34px
    }
    .buttons {
        justify-content: center
    }
    .connection-button {
        width: 217px;
        height: 54px;
        font-size: 11px;
        line-height: 13px
    }
    .connection-button--header {
        width: 179px;
        height: 39px;
        font-size: 12px;
        line-height: 14px
    }
    .whatsapp-button {
        width: 54px;
        height: 54px;
        background-size: 16px 16px, auto
    }
    .whatsapp-button:active {
        background: url('img/whatsapp-icon.svg'), linear-gradient(180deg, #57ed2e 0, #59ac16 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px, auto
    }
    .button__main-banner {
        margin-right: 8px
    }
    .title {
        font-size: 24px;
        line-height: 32px;
        text-align: left
    }
    .advantages__title {
        margin-bottom: 50px
    }
    .advantages__list {
        display: block
    }
    .advantages__item {
        width: 270px;
        height: 122px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        padding-top: 35px;
        box-sizing: border-box;
        padding-left: 120px;
        margin-bottom: 0
    }
    .advantages__guarantee {
        background-size: 62px 70px;
        background-position: 30px center
    }
    .advantages__assortment {
        background-size: 77px 80px;
        background-position: 30px center
    }
    .advantages__earn {
        background-size: 122px 122px;
        background-position: left center
    }
    .advantages__support {
        background-size: 100px auto;
        background-position: left 20px
    }
    .advantages__minimum {
        background-size: 108px 81px;
        background-position: left center
    }
    .advantages__manufacturer {
        background-size: 131px 94px;
        background-position: -20px center
    }
    .section__description {
        font-size: 14px;
        line-height: 21px;
        text-align: left
    }
    .procedure__section-wrapper {
        padding-bottom: 81px;
        ;
    }
    .procedure__title {
        margin-bottom: 22px
    }
    .procedure__description {
        margin-bottom: 54px
    }
    .step__title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 5px
    }
    .step__description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 25px
    }
    .aquaint__title {
        font-size: 14px;
        line-height: 19px;
        padding-top: 22px;
        padding-bottom: 21px;
    }
    .price-buttons {
        padding-bottom: 35px;
        margin-top: 0;
    }
    .price-list {
        width: 175px;
        margin-right: 8px;
    }
    .catalogue {
        margin-bottom: 77px;
    }
    .catalogue__title,
    .catalogue__description {
        text-align: center;
    }
    .catalogue__test {
        padding-top: 34px;
    }
    .test__progress {
        width: auto;
        height: 20px;
        padding: 0;
        margin-bottom: 44px;
        margin-right: 20px;
        margin-left: 20px;
        box-sizing: border-box;
    }
    .test__progress-inner {
        height: 20px;
    }
    .question__number {
        top: -5px;
        font-size: 8px;
        line-height: 8px;
    }
    .test__question {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 22px;
    }
    .first-question-wrapper {
        width: 247px;
    }
    .car-brand__button {
        width: 58px;
        height: 58px;
        background-size: 50%;
    }
    .second-question-wrapper {
        width: 217px;
        margin-bottom: 50px;
    }
    .car-brand__input {
        height: 54px;
    }
    .catalogue__description {
        margin-bottom: 35px;
    }
    .parts__list {
        margin-bottom: 50px;
    }
    .part__label {
        font-size: 14px;
        width: auto;
    }
    .test__result-top,
    .test__result-bottom {
        font-size: 14px;
    }
    .test__result-middle {
        margin-bottom: 100px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 20px;
        line-height: 28px;
    }
    .quality__title {
        margin-bottom: 22px;
        text-align: center;
    }
    .quality__description {
        margin-bottom: 22px;
        text-align: center;
    }
}
@media screen and (max-width: 350px) {
    .presentation {
        background-position: center -15px
    }
    .logo-torque {
        width: 40px;
        height: 40px
    }
    .logo-rktor {
        width: 45px;
        height: 26px
    }
}